body {
    background-color: rgb(145, 120, 52);
}

.row {
    display: flex;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.row button {
    flex: 1;
}

.bars {
    display: flex;
}

#display {
    flex: 2;
}

#result {
    flex: 1;
}